.idea/
target/
# Ignore Gradle project-specific cache directory
.gradle
gradlew
gradlew.bat

# Ignore Gradle build output directory
build/
MariTest.iml
*.html
*.js
*.zip
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.css

# Ignore project generated directories
Task5Downloads/
Task7Downloads/